<!DOCTYPE html>
{% extends "html/base.html" %}<!--adds the navigation bar-->
{% block content %}<!--where the page content starts-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel</title>
<script>
        function goBack() {
        window.history.back();
        }
    </script>
<link href="../../static/styles/error404.css" rel="stylesheet" type="text/css">
</head>
<body>
	<h1><p>ERROR 404</p></h1>
	<h1><p>Sorry we could not find this! We apologise.</p></h1>
<button onclick="goBack()">Go Back</button>


</body>
</html>
{% endblock %}<!--page content ends no more can be added past here-->