<html>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/base.css') }}">
    <head><!--Check if the title exsists, if not it will use the defuault undefined-->
		{% if title%}
        <title>{{ title }}</title>
		 {% else %}
        <title>Control Pannel undefined</title>
		{% endif %}
    </head>
    <body><!--navigation bar-->
		<div> Nav:<a href="{{ url_for('index')}}">Start Page </a><a href="{{ url_for('login')}}">;login</a></div>
		
		
		
		
		
		
    <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
		{% block content %}{% endblock %}
</body>
</html>