<html>
<head><!--Check if the title exsists, if not it will use the defuault undefined-->
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Control Pannel undefined</title>
    {% endif %}
	 <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
</head>
<body><!--navigation bar-->
<div>
	<La>Nav</La>
    <ul>
        <li><a href="{{ url_for('index') }}">Start Page </a></li>
        <li><a href="{{ url_for('login') }}">Login</a></li>
    </ul>
</div>
<hr>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% block content %}{% endblock %}
</body>
</html>