<!DOCTYPE html>
{% extends "html/loggedbase.html" %}<!--adds the navigation bar-->
{% block content %}<!--where the page content starts-->
<html>
	<head>
		<meta charset="utf-8">
		<title>SAI Dropdown</title>
	</head>
	<body>
		<h1>Options</h1>
        <h1><p>Profiles</p>
        </h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.profileName.label }}<br>
            {{ form.profileName}}<br>
        </p>
		<p><input type=submit value="send profile"> </p>
        </form>
        
        <h1>Sai Trigger</h1>
        <h1><a href="{{ url_for('reset') }}">RESET SAI's</a></h1>

<!--        <trigger>
        <form action="/options" method="POST">
                <p><input type="submit" name="saitrigger" value="Trigger"></p>
        </form>
        </trigger>-->
    
        
	</body>
</html>
{% endblock %}<!--page content ends no more can be added past here-->