<!DOCTYPE html>
{% extends "html/loggedbase.html" %}<!--adds the navigation bar-->
{% block content %}<!--where the page content starts-->
<html>
	<head>
		<meta charset="utf-8">
		<title>SAI Dropdown</title>
	</head>
	<body>
		<h1>Options</h1>
		<p>Profiles</p>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.profileName.label }}<br>
            {{ form.profileName}}<br>
        </p>
		<p><input type=submit value="send profile"> </p>
        </form>
	</body>
</html>
{% endblock %}<!--page content ends no more can be added past here-->