<!doctype html>
{% extends "html/base.html" %}<!--adds the navigation bar-->
{% block content %}<!--where the page content starts-->
<html>
<head>
<meta charset="utf-8">
<title></title>
</head>

<body>
    {% if isAdmin == true %}
    <table>
        <thead><tr><th>Username</th><th>Password</th><th>Rank</th></tr></thead>
        <tbody>
        {% for n in users %}
        <tr><td>{{n.username}}</td><td>{{n.password}}</td><td>{{n.rank}}</td></tr>
        {% endfor %}
        </tbody>
        </table>
    {% endif %}

</body>
</html>
{% endblock %}<!--page content ends no more can be added past here-->