<!DOCTYPE html>
{% extends "html/loggedbase.html" %}<!--adds the navigation bar-->
{% block content %}<!--where the page content starts-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel</title>
</head>
<body>
    <h1>Control panel</h1>
    {% if isAdmin == true %}
    <h1><a href="{{ url_for('userAdmin') }}">User Control </a></h1>
    {% endif %}
	<h1><a href="{{ url_for('options') }}">Profiles</a></h1>

</body>
</html>
{% endblock %}<!--page content ends no more can be added past here-->
